/*----------------
    main font 
 ----------------*/

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*---------------------
    Navigation bar 
----------------------*/

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    margin-top: 50px;
    padding: 0 20px;
}
nav p {
    margin-top: 7px;
    font-size: 1.2em;
    font-weight: bold;
}
nav div a {
    color: black;
    font-weight: 800;
    text-decoration: none;
    height: 40px;
    width: 75px;
    padding: 0 10px;
}
nav div a:hover {
    background-color: rgb(214, 210, 210);
    border-radius: 5px;
    padding: 10px;

}

/*--------------------
    first section 
---------------------- */

.first-section {
    display: flex;
    margin-top: 40px;
    margin-left: 10px;
}
.head-info {
    padding-top: 3.15em;
    padding-left: 1.8em;

}
.head-info h2 {
    font-size: 30px;
    font-weight: bolder;
}
.button {
    margin-left: 0.10em;
    text-decoration: none;
    font-weight: bolder;
    color: white;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: #E02C6D;
}
.first-section img {
    width: 440px;
    height: 340px;
    padding-left: 50px;
}
.button:hover {
    background-color: white;
    color: #E02C6D;
    border: 2px solid #E02C6D;
    border-radius: 40px;
}


/*-------------------- 
         logos 
----------------------*/

hr {
    margin: 0 80px;
    margin-top: 70px;
    margin-bottom: 20px;
}
#logos {
    margin: 0 30px;
    display: flex;
    justify-content: space-evenly;

}
#logos img {
    width: 60px;
    height: 50px;
}
.sec-hr {
    margin: 0 75px;
    margin-top: 20px;
    margin-bottom: 50px; 
}

/*-----------------------
    Product's section 
-------------------------*/

.second-heading{
    padding-top: 1.5em;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}
.product-sec {
    display: flex;
    justify-content: center;
    
}

.all-products {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    margin: 25px 30px;
}

.product {
    height:380px;
    width: 200px;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px gray;
}
.product-image img {
    height: auto;
    width: 100%;
}

.product-name {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size:22px;
    font-weight: bolder;
}
.product-mrp {
    margin-top: 0px;
    margin-bottom: 15px;
    padding-top: 0;
    font-size:20px;
    font-weight: 550;
}
.product-info i {
    color: orange;
    margin-bottom: 0;
}
.product-info span {
    padding-left: 7px;
}
.product-info-last {
    font-size: 0.9em;
}
#see-more {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    float: right;
    margin-right: 70px;
}

/*------------------------
       last section 
--------------------------*/

.last-section {
    display: flex;
    margin: 0 20px ;
    margin-top: 90px;
    margin-bottom: 60px;
}
.last-section img {
    height: auto;
    width: 270px;
    padding-left: 30px;
}
.last-info {
    margin: 0 30px;
    padding-left: 40px;
}

/*--------------------------
          footer 
----------------------------*/

footer {
    background-color: #0A0826;
    color: white;
    text-align: center;
    padding: 30px;
}
#last-line {
    font-size: 22px;
    font-weight: bold;
}
footer i {
    padding-left: 10px;
}
